<%- include(`${partials}/root-layout-header`) %>
<div class="fluid-container">
    <%- include(`${partials}/navbar`) %>
    <% chats.forEach(chat => { %>
        <%= chat %>
    <% }) %>
</div>
<%- include(`${partials}/root-layout-footer`) %>