@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #758BFD;
}

::-webkit-scrollbar-thumb:hover {
  background: #27187E;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  overflow-x: hidden;
  background: #F1F2F6 !important;
}

.link {
  color: #758BFD;
  text-decoration: none !important;
  cursor: pointer;
}
.link.active, .link:hover {
  color: #FF8600 !important;
}
.link svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown {
  position: absolute !important;
  width: 100%;
  box-shadow: 0 0 10px -5px #000000;
  z-index: 9;
  background: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
}
.dropdown.hidden {
  display: none;
}
.dropdown::before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  border-radius: inherit;
  display: block;
  z-index: -1;
  width: 32px;
  height: 32px;
  transform: rotate(45deg) translateY(calc(-50% + 10px));
  right: 20px;
  top: 0;
}
.dropdown ul {
  margin: 0;
}
.dropdown a, .dropdown .link {
  border-radius: 5px;
  padding: 5px 10px;
  color: #000000 !important;
  cursor: pointer;
  background: #FFFFFF;
}
.dropdown a:hover, .dropdown .link:hover {
  color: #FF8600 !important;
  background: #F1F2F6;
}

.select {
  position: relative;
  border-radius: 5px;
  padding: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
.select .selected-option {
  padding: 5px;
}
.select .selected-option:hover {
  color: #FF8600 !important;
  background: #F1F2F6;
}
.select .options-list {
  position: absolute;
  box-shadow: 0 0 10px -5px #000000;
  background: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  top: calc(100% + 5px);
  left: 0;
  display: none;
}
.select .options-list.visible {
  display: block;
}
.select .select-option {
  width: 100%;
}
.select a, .select .link {
  border-radius: 5px;
  padding: 5px 10px;
  color: #000000;
  cursor: pointer;
  background: #FFFFFF;
  width: 100%;
  display: inline-block;
  text-decoration: none !important;
}
.select a:hover, .select .link:hover {
  color: #FF8600 !important;
  background: #F1F2F6;
}

.navbar {
  background: #27187E;
  color: #F1F2F6;
  padding-block: 0 !important;
  width: 100%;
  top: 0;
  z-index: 10;
}
.navbar + div {
  margin-top: 57px;
}
.navbar h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
.navbar h1 a {
  display: inline-flex;
  align-items: center;
  margin: 0;
}
.navbar h1 a img {
  transition: 0.5s ease;
  margin: 0;
}
.navbar h1 a span {
  margin-left: 5px;
}
.navbar h1 a:hover img {
  transform: rotate(180deg);
}
.navbar .link {
  color: #F1F2F6;
}
.navbar nav {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
}
.navbar nav a {
  display: inline-flex;
  padding: 15px;
  margin-inline: 10px;
  font-size: 1.25rem;
  border-bottom: 3px solid #27187E;
}
.navbar nav a.active {
  border-bottom: 3px solid #FF8600;
}
.navbar .profile-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  user-select: none;
}
.navbar .profile-container img {
  border-radius: 100%;
}
.navbar .profile-container .profile-dropdown {
  width: 200px;
  right: 0;
  top: calc(100% + 10px);
}
.navbar .profile-container .link {
  display: inline-flex !important;
  align-items: center;
  width: 100%;
}
.navbar .profile-container .link span {
  margin-bottom: 0 !important;
  margin-left: 10px;
}

.button {
  border-radius: 5px 5px 5px 5px;
  padding: 5px 10px;
  color: #000000;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.3s ease;
  text-decoration: none !important;
  cursor: pointer;
}
.button.button-ut-orange {
  background: #FF8600;
  color: #F1F2F6;
}
.button.button-ut-orange:hover {
  background: rgba(255, 134, 0, 0.9);
  color: #F1F2F6;
}
.button.button-black {
  background: #000000;
  color: #F1F2F6;
}
.button.button-black:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #F1F2F6;
}
.button.button-persian-indigo {
  background: #27187E;
  color: #F1F2F6;
}
.button.button-persian-indigo:hover {
  background: rgba(39, 24, 126, 0.9);
  color: #F1F2F6;
}
.button.button-cornflower-blue {
  background: #758BFD;
  color: #F1F2F6;
}
.button.button-cornflower-blue:hover {
  background: rgba(117, 139, 253, 0.9);
  color: #F1F2F6;
}
.button.button-periwinkle {
  background: #AEB8FE;
  color: #F1F2F6;
}
.button.button-periwinkle:hover {
  background: rgba(174, 184, 254, 0.9);
  color: #F1F2F6;
}
.button.button-anti-flash-white {
  background: #F1F2F6;
  color: #000000;
}
.button.button-anti-flash-white:hover {
  background: rgba(241, 242, 246, 0.9);
  color: #000000;
}
.button.button-green {
  background: #04AA6D;
  color: #F1F2F6;
}
.button.button-green:hover {
  background: rgba(4, 170, 109, 0.9);
  color: #F1F2F6;
}
.button.button-red {
  background: #FF3333;
  color: #F1F2F6;
}
.button.button-red:hover {
  background: rgba(255, 51, 51, 0.9);
  color: #F1F2F6;
}

.errors {
  width: 100%;
}
.errors .error {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  border-radius: 5px 5px 5px 5px;
  display: inline-flex;
  width: 100%;
  color: #FF3333;
  border: 1px solid #FF3333;
  padding: 5px 10px;
  margin-bottom: 5px;
  background: rgba(255, 51, 51, 0.1);
}
.errors .error:last-child {
  margin-bottom: 10px;
}

.form .errors {
  width: 100%;
}
.form .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.form .form-header .button {
  display: inline-flex;
}
.form .form-footer {
  width: 100%;
  margin-top: 10px;
}
.form .form-footer .button {
  width: 100%;
}
.form .form-content {
  width: 100%;
  flex-wrap: wrap;
}
.form .form-content .form-group {
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.form .form-content .form-group .form-item {
  display: inline-flex;
  width: 100%;
  padding: 0;
}
.form .form-content .form-group .form-item label {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
}
.form .form-content .form-group .form-item input[type=checkbox] {
  margin-right: 5px;
}
.form .form-content .form-group .form-item input:not([type=submit], [type=checkbox]), .form .form-content .form-group .form-item textarea, .form .form-content .form-group .form-item select {
  outline: none;
  padding: 5px 7px;
  width: 100%;
  border: 1px solid #F1F2F6 !important;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 5px 5px 5px 5px;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25rem;
}

.sign-in-container, .sign-up-container {
  height: 100vh;
}

.sign-in-form, .sign-up-form {
  padding: 20px;
  border-radius: 5px;
  background: white;
  max-width: 500px;
  width: 100%;
}
.sign-in-form .form-header, .sign-up-form .form-header {
  justify-content: center;
}
.sign-in-form .form-header h4, .sign-up-form .form-header h4 {
  margin: 0;
}
.sign-in-form .form-group .form-item:not(:last-child), .sign-up-form .form-group .form-item:not(:last-child) {
  margin-bottom: 10px;
}
.sign-in-form.sign-in-form .sign-up-redirect, .sign-up-form.sign-in-form .sign-up-redirect {
  max-width: 200px;
}
.sign-in-form .sign-up-redirect, .sign-in-form .sign-in-redirect, .sign-up-form .sign-up-redirect, .sign-up-form .sign-in-redirect {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
}
.sign-in-form .sign-up-redirect a, .sign-in-form .sign-in-redirect a, .sign-up-form .sign-up-redirect a, .sign-up-form .sign-in-redirect a {
  color: #FF8600;
  border-bottom: 1px dashed #FF8600;
}

.chat-page-container {
  position: relative;
  height: calc(100vh - 57px);
}
.chat-page-container .events {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  resize: horizontal;
  min-width: 320px;
  padding: 5px;
}
.chat-page-container .events .event {
  padding: 10px 10px 5px 15px;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.chat-page-container .events .event::after {
  content: "";
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: -6px;
  width: 100%;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.chat-page-container .events .event.active {
  background: rgba(0, 0, 255, 0.6);
  color: #FFFFFF;
}
.chat-page-container .events .event.active .last-message {
  color: #FFFFFF;
}
.chat-page-container .events .event .last-message {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.chat-page-container .events .event .last-message > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chat-page-container .events .event .last-message > time {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
}
.chat-page-container .events .event:not(.active):hover {
  background: #F1F2F6;
}
.chat-page-container .chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-page-container .chat.choose-chat {
  align-items: center;
  justify-content: center;
}
.chat-page-container .chat.choose-chat .choose-chat-heading {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5rem;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 5px -5px black;
  padding: 5px 10px;
  border-radius: 15px;
}
.chat-page-container .chat .chat-header, .chat-page-container .chat .chat-container, .chat-page-container .chat .chat-footer {
  width: 100%;
  flex: 0 1 auto;
  position: relative;
}
.chat-page-container .chat .chat-container {
  height: calc(100% - 112px);
}
.chat-page-container .chat .chat-header {
  padding: 15px 20px;
  box-shadow: 0 3px 5px -5px black;
  z-index: 3;
}
.chat-page-container .chat .chat-header h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5rem;
  margin: 0;
}
.chat-page-container .chat .chat-footer {
  padding: 10px 20px;
  box-shadow: 0 -3px 5px -5px black;
  z-index: 3;
}
.chat-page-container .chat .chat-footer #send-message-form label {
  margin-right: 10px;
}
.chat-page-container .chat .chat-footer #send-message-form input[type=text] {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  margin-right: 10px;
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.chat-page-container .chat .date-delimiter {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  position: relative;
}
.chat-page-container .chat .date-delimiter span {
  background: #F1F2F6;
  padding: 5px 10px;
  position: relative;
  z-index: 2;
}
.chat-page-container .chat .date-delimiter::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  top: calc(50% + 1px);
  position: absolute;
}
.chat-page-container .chat .messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  padding: 10px 20px;
  height: 100%;
}
.chat-page-container .chat .messages .message-container.my-message + .message-container:not(.my-message), .chat-page-container .chat .messages .message-container:not(.my-message) + .message-container.my-message {
  padding-bottom: 10px;
}
.chat-page-container .chat .messages .message-container {
  display: flex;
  align-items: flex-end;
  padding-block: 1px;
}
.chat-page-container .chat .messages .message-container .profile-image {
  min-width: 32px !important;
  min-height: 32px !important;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.chat-page-container .chat .messages .message-container .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.chat-page-container .chat .messages .message-container .message {
  padding: 5px 10px;
  max-width: 500px;
  background: #FFFFFF;
  position: relative;
  border-radius: 5px 5px 5px 0;
}
.chat-page-container .chat .messages .message-container .message .sender {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5rem;
  color: #FF8600;
  text-decoration: none !important;
}
.chat-page-container .chat .messages .message-container .message .content {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
}
.chat-page-container .chat .messages .message-container .message .content .time-space {
  display: inline-flex;
  width: 35px;
}
.chat-page-container .chat .messages .message-container .message .time {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  position: relative;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -22px;
  text-align: right;
}
.chat-page-container .chat .messages .message-container:not(.my-message) .message {
  margin-right: 42px;
}
.chat-page-container .chat .messages .message-container.my-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.chat-page-container .chat .messages .message-container.my-message .profile-image img {
  margin-left: 10px;
  margin-right: 0;
}
.chat-page-container .chat .messages .message-container.my-message .message {
  background: #758BFD;
  color: #FFFFFF;
  margin-left: 42px;
  border-radius: 5px 5px 0 5px;
}
.chat-page-container .chat .messages .message-container.my-message .message .sender {
  color: #F6FA70;
}
.chat-page-container .chat .messages .message-container.my-message .message .time {
  color: rgba(246, 250, 112, 0.7);
}

/* стилі для сторінки івентів */
.user-avatar:hover {
  color: #27187E;
}

/* ----------------- sidebar ------------------------*/
.sidebar-activities {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #AEB8FE;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar-activities form {
  text-align: center;
  margin: auto;
  width: 225px;
}
.sidebar-activities div {
  margin-bottom: 25px;
}
.sidebar-activities .fa-solid {
  color: #27187E;
  margin-bottom: 5px;
}
.sidebar-activities .fa-gear {
  margin: 40px 0 40px 0 !important;
}
.sidebar-activities .btn-search-activities {
  border: 2px solid #27187E;
  color: #27187E;
  font-weight: 600;
  font-size: 14px;
}

/*----------------------- main activities ------------------- */
.main-activities {
  display: block;
  margin-left: 320px;
  padding: 0 10px;
  margin-top: 80px;
}
.main-activities .activity {
  width: 700px;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 5px 10px 18px #AEB8FE;
  margin: auto;
  padding: 40px;
  text-align: center;
}
.main-activities .button-col {
  margin: auto;
  font-size: 22px;
}
.main-activities .btn-heart {
  text-align: end;
  color: #FF8600;
}
.main-activities .btn-heart:hover {
  color: rgba(255, 134, 0, 0.9);
}
.main-activities .btn-x {
  text-align: start;
  color: #27187E;
}
.main-activities .btn-x:hover {
  color: rgba(39, 24, 126, 0.9);
}
.main-activities .activity-icons-row {
  margin-top: 45px;
  margin-bottom: 40px;
  padding: 0 20px 0 20px;
}
.main-activities .activity-icons-row i {
  color: #FF8600;
  margin-bottom: 22px;
}
.main-activities .activity-icons-row p {
  margin-bottom: 0;
}
.main-activities .activity-img {
  width: 300px;
  height: 215px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-left: 10px;
}
.main-activities .activity-img img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.main-activities .activity-text {
  text-align: center;
}

/*-------------------- main calendar --------------------*/
.cal-modal-container {
  background: #F1F2F6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 57px);
}

.cal-modal {
  user-select: none;
  width: 100%;
  background: #758BFD;
  color: #FFFFFF;
  padding: 40px 60px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px -5px #000000;
  min-height: 550px;
}
.cal-modal h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.cal-modal .loading {
  margin-top: 25px;
  width: 300px;
  height: 300px;
  padding: 120px;
}
.cal-modal .loading img {
  width: 100%;
  height: 100%;
}

#calendar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 927px;
}
#calendar .placeholder {
  width: 300px;
}
#calendar .flatpickr-calendar {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #FFFFFF;
  top: 0;
  min-height: 325px;
  user-select: none;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekdaycontainer {
  max-width: 307.875px;
  padding: 0 10px;
  position: relative;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekdaycontainer .flatpickr-weekday {
  color: #fff;
  font-weight: 700;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekdaycontainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekdaycontainer::after {
  content: "";
  background: #343f48;
  position: absolute;
  top: -32px;
  bottom: -230px;
  right: 0;
  width: 1px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month {
  color: inherit;
  margin-bottom: 10px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month {
  font-size: 16px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper {
  display: none;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  top: calc(50% - 23px);
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg {
  height: 46px;
  width: 46px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg path, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg path {
  fill: #27187E;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month {
  left: -60px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  right: -60px;
}
#calendar .flatpickr-calendar .dayContainer {
  box-shadow: none;
  padding: 0 10px;
  position: static;
}
#calendar .flatpickr-calendar .dayContainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-day {
  background: #FFFFFF;
  border: 0;
  color: #000000;
  font-weight: 500;
  transition: 0.5s ease;
  display: inline-flex;
  margin-bottom: 3px;
}
#calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled, #calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled:hover {
  background: none;
  color: #FFFFFF;
  cursor: default;
}
#calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden), #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):hover, #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):focus {
  background: #FF8600;
  color: #FFFFFF;
}
#calendar .flatpickr-calendar .flatpickr-day:hover {
  background: #FF8600;
  color: #FFFFFF;
}
#calendar .flatpickr-calendar .flatpickr-day .nextMonthDay, #calendar .flatpickr-calendar .flatpickr-day .prevMonthDay {
  background: none;
  color: rgba(207, 210, 211, 0.1) !important;
  cursor: default;
  visibility: visible;
}
#calendar .calendar-events {
  display: flex;
  flex-wrap: wrap;
  min-height: 36px;
  text-align: left;
  width: 100%;
  max-width: 927px !important;
}
#calendar .calendar-events > [class*=col-] {
  padding: 5px;
}
#calendar .calendar-events h5 {
  margin-top: 20px;
  padding-inline: 5px;
  font-size: 1.25rem;
}
#calendar .calendar-events h5 .date {
  font-size: 1.125rem;
}
#calendar .calendar-events .event {
  font-size: 1rem;
  background: #AEB8FE;
  border-radius: 5px;
  box-shadow: 0 0 7px -5px #000000;
  cursor: pointer;
  transition: 0.3s ease;
}
#calendar .calendar-events .event:hover {
  background: rgba(174, 184, 254, 0.6);
}
#calendar .calendar-events .event a {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  text-decoration: none !important;
}
#calendar .calendar-events .event .title {
  color: #FFFFFF;
  font-weight: 600;
  width: 100%;
  display: inline-flex;
}
#calendar .calendar-events .event .location {
  color: #27187E;
  font-weight: 800;
  letter-spacing: -0.8px;
  width: 100%;
  display: inline-flex;
}

/*
---------------------- navbar -----------------------
.navbar{
  background-color: #27187E;
  color: white;
}

.nav-link, .navbar-brand{
  color: white;
}

.navbar-brand{
  font-weight: 600;
  font-family: 'Ubuntu';
}

.nav-link:hover, .navbar-brand:hover{
  color: #AEB8FE;
}

.user-avatar{
  height: 33px;
  width: 33px;
  background-color: #AEB8FE;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
}

.user-avatar:hover{
  color: #27187E;
}*/
/*--------------- user page -----------------*/
.user-profile-page {
  display: flex;
  flex-direction: column;
}
.user-profile-page .user-profile-container {
  background-color: #FFFFFF;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 7px -5px #000000;
}
.user-profile-page .user-profile-container .user-container {
  display: flex;
}
.user-profile-page .user-profile-container .user-picture {
  padding-block: 20px;
}
.user-profile-page .user-profile-container .user-picture img {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #27187E;
}
.user-profile-page .user-profile-container .user-info {
  color: rgba(0, 0, 0, 0.5);
  margin: 15px 0 15px 30px;
  width: 100%;
}
.user-profile-page .user-profile-container .user-info .profile-items {
  display: flex;
  flex-wrap: wrap;
}
.user-profile-page .user-profile-container .user-info .profile-items .profile-item {
  padding: 0;
}
.user-profile-page .user-profile-container .user-info .profile-items .profile-item .label {
  font-weight: bold;
  width: 100%;
  display: inline-flex;
}
.user-profile-page .user-profile-container .user-info .profile-items .profile-item .value {
  width: 100%;
  display: inline-flex;
}
.user-profile-page .user-profile-container .user-info .user-name {
  font-size: 1.875rem;
  font-weight: bold;
}
.user-profile-page .user-profile-container .user-buttons {
  width: 100%;
}
.user-profile-page .user-profile-container .user-buttons > div {
  padding: 0;
}
.user-profile-page .user-profile-container .user-buttons > div:first-child {
  padding-right: 5px;
}
.user-profile-page .user-profile-container .user-buttons > div:last-child {
  padding-left: 5px;
}
.user-profile-page .user-profile-container .user-buttons .button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.user-events {
  margin: 0 10px;
  padding: 0 20px;
}
.user-events h2 {
  font-size: 1.5rem;
}
.user-events [class*=col-] {
  padding: 5px;
}
.user-events .user-activity {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 7px -5px #000000;
  padding: 20px;
}
.user-events .user-activity .user-activity-img {
  width: 100%;
  aspect-ratio: 2/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.user-events .user-activity .user-activity-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.user-events .user-activity .user-activity-name-row {
  padding: 5px;
}
.user-events .user-activity .user-activity-name-row .user-activity-name {
  font-size: 1.125rem;
  margin-bottom: 2px;
}
.user-events .user-activity .user-activity-name-row .date-range {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.4);
  margin: 0;
}
.user-events .user-activity .user-activity-row {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.user-events .user-activity .user-activity-row > div {
  text-align: center;
  color: #FF8600;
}
.user-events .user-activity .user-activity-row > div i {
  font-size: 1.25rem;
}
.user-events .user-activity .user-activity-row > div p {
  margin-block: 5px;
  font-size: 0.875rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.user-events .user-activity .buttons {
  padding: 5px;
}
.user-events .user-activity .buttons > div {
  padding: 2px;
}
.user-events .user-activity .buttons .button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.user-activity-edit-delete-icons {
  color: #758BFD;
  text-align: end;
  padding-right: 35px;
}

.edit-user-activity:hover, .delete-user-activity:hover {
  color: #27187E;
  cursor: pointer;
}

.default-user-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 200px;
}

.join-requests-page .header {
  padding-block: 20px 0;
  margin: 0;
}
.join-requests-page .header h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.join-requests-page .header .default-user-control {
  box-shadow: 0 0 7px -5px #000000;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 0.875rem;
}
.join-requests-page .join-requests-list {
  width: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 7px -5px #000000;
  border-spacing: 0 5px;
  border-collapse: separate;
  padding-inline: 5px;
}
.join-requests-page .join-requests-list .header th {
  padding: 10px;
  font-weight: bold;
  vertical-align: middle;
}
.join-requests-page .join-requests-list .header .actions {
  width: 210px;
}
.join-requests-page .join-requests-list .join-request {
  transition: 0.3s ease;
}
.join-requests-page .join-requests-list .join-request:nth-child(2n) {
  background: rgba(0, 0, 0, 0.03);
}
.join-requests-page .join-requests-list .join-request:hover {
  background: #F1F2F6;
}
.join-requests-page .join-requests-list .join-request td {
  padding: 10px;
  vertical-align: middle;
}
.join-requests-page .join-requests-list .join-request td:first-child {
  border-radius: 5px 0 0 5px;
}
.join-requests-page .join-requests-list .join-request td:last-child {
  border-radius: 0 5px 5px 0;
}
.join-requests-page .join-requests-list .join-request > div {
  width: 100%;
}
.join-requests-page .join-requests-list .join-request .actions .no-actions {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}
.join-requests-page .join-requests-list .join-request .created-at {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}
.join-requests-page .join-requests-list .join-request .status {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5rem;
}
.join-requests-page .join-requests-list .join-request .status .accepted {
  color: #04AA6D;
}
.join-requests-page .join-requests-list .join-request .status .pending {
  color: #FF8600;
}
.join-requests-page .join-requests-list .join-request .status .rejected {
  color: #FF3333;
}

.create-event-container, .edit-event-container, .edit-user-container {
  padding-top: 20px;
}
.create-event-container .create-event-form, .create-event-container .edit-event-form, .create-event-container .edit-user-form, .edit-event-container .create-event-form, .edit-event-container .edit-event-form, .edit-event-container .edit-user-form, .edit-user-container .create-event-form, .edit-user-container .edit-event-form, .edit-user-container .edit-user-form {
  background: #FFFFFF;
  box-shadow: 0 0 7px -5px #000000;
  border-radius: 5px;
  padding: 10px;
}
.create-event-container .create-event-form .form-content .form-group, .create-event-container .edit-event-form .form-content .form-group, .create-event-container .edit-user-form .form-content .form-group, .edit-event-container .create-event-form .form-content .form-group, .edit-event-container .edit-event-form .form-content .form-group, .edit-event-container .edit-user-form .form-content .form-group, .edit-user-container .create-event-form .form-content .form-group, .edit-user-container .edit-event-form .form-content .form-group, .edit-user-container .edit-user-form .form-content .form-group {
  position: relative;
}
.create-event-container .create-event-form .form-content .form-group:not(:last-child), .create-event-container .edit-event-form .form-content .form-group:not(:last-child), .create-event-container .edit-user-form .form-content .form-group:not(:last-child), .edit-event-container .create-event-form .form-content .form-group:not(:last-child), .edit-event-container .edit-event-form .form-content .form-group:not(:last-child), .edit-event-container .edit-user-form .form-content .form-group:not(:last-child), .edit-user-container .create-event-form .form-content .form-group:not(:last-child), .edit-user-container .edit-event-form .form-content .form-group:not(:last-child), .edit-user-container .edit-user-form .form-content .form-group:not(:last-child) {
  margin-bottom: 20px;
}
.create-event-container .create-event-form .form-content .form-group .form-item, .create-event-container .edit-event-form .form-content .form-group .form-item, .create-event-container .edit-user-form .form-content .form-group .form-item, .edit-event-container .create-event-form .form-content .form-group .form-item, .edit-event-container .edit-event-form .form-content .form-group .form-item, .edit-event-container .edit-user-form .form-content .form-group .form-item, .edit-user-container .create-event-form .form-content .form-group .form-item, .edit-user-container .edit-event-form .form-content .form-group .form-item, .edit-user-container .edit-user-form .form-content .form-group .form-item {
  padding-inline: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.create-event-container .create-event-form .form-content .form-group .form-item input[type=file], .create-event-container .edit-event-form .form-content .form-group .form-item input[type=file], .create-event-container .edit-user-form .form-content .form-group .form-item input[type=file], .edit-event-container .create-event-form .form-content .form-group .form-item input[type=file], .edit-event-container .edit-event-form .form-content .form-group .form-item input[type=file], .edit-event-container .edit-user-form .form-content .form-group .form-item input[type=file], .edit-user-container .create-event-form .form-content .form-group .form-item input[type=file], .edit-user-container .edit-event-form .form-content .form-group .form-item input[type=file], .edit-user-container .edit-user-form .form-content .form-group .form-item input[type=file] {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  padding: 1px;
}
.create-event-container .create-event-form #additional-images, .create-event-container .edit-event-form #additional-images, .create-event-container .edit-user-form #additional-images, .edit-event-container .create-event-form #additional-images, .edit-event-container .edit-event-form #additional-images, .edit-event-container .edit-user-form #additional-images, .edit-user-container .create-event-form #additional-images, .edit-user-container .edit-event-form #additional-images, .edit-user-container .edit-user-form #additional-images {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
}
.create-event-container .create-event-form #additional-images .additional-image:first-child input, .create-event-container .edit-event-form #additional-images .additional-image:first-child input, .create-event-container .edit-user-form #additional-images .additional-image:first-child input, .edit-event-container .create-event-form #additional-images .additional-image:first-child input, .edit-event-container .edit-event-form #additional-images .additional-image:first-child input, .edit-event-container .edit-user-form #additional-images .additional-image:first-child input, .edit-user-container .create-event-form #additional-images .additional-image:first-child input, .edit-user-container .edit-event-form #additional-images .additional-image:first-child input, .edit-user-container .edit-user-form #additional-images .additional-image:first-child input {
  background: rgba(255, 134, 0, 0.1) !important;
}
.create-event-container .create-event-form .additional-image, .create-event-container .edit-event-form .additional-image, .create-event-container .edit-user-form .additional-image, .edit-event-container .create-event-form .additional-image, .edit-event-container .edit-event-form .additional-image, .edit-event-container .edit-user-form .additional-image, .edit-user-container .create-event-form .additional-image, .edit-user-container .edit-event-form .additional-image, .edit-user-container .edit-user-form .additional-image {
  margin-block: 2px !important;
}
.create-event-container .create-event-form .selected-image, .create-event-container .edit-event-form .selected-image, .create-event-container .edit-user-form .selected-image, .edit-event-container .create-event-form .selected-image, .edit-event-container .edit-event-form .selected-image, .edit-event-container .edit-user-form .selected-image, .edit-user-container .create-event-form .selected-image, .edit-user-container .edit-event-form .selected-image, .edit-user-container .edit-user-form .selected-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #F1F2F6;
  padding: 5px;
  width: 100%;
}
.create-event-container .create-event-form .selected-image .delete-selected-image, .create-event-container .edit-event-form .selected-image .delete-selected-image, .create-event-container .edit-user-form .selected-image .delete-selected-image, .edit-event-container .create-event-form .selected-image .delete-selected-image, .edit-event-container .edit-event-form .selected-image .delete-selected-image, .edit-event-container .edit-user-form .selected-image .delete-selected-image, .edit-user-container .create-event-form .selected-image .delete-selected-image, .edit-user-container .edit-event-form .selected-image .delete-selected-image, .edit-user-container .edit-user-form .selected-image .delete-selected-image {
  color: #FF8600;
  padding: 7px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
}
.create-event-container .create-event-form .selected-image .delete-selected-image:hover, .create-event-container .edit-event-form .selected-image .delete-selected-image:hover, .create-event-container .edit-user-form .selected-image .delete-selected-image:hover, .edit-event-container .create-event-form .selected-image .delete-selected-image:hover, .edit-event-container .edit-event-form .selected-image .delete-selected-image:hover, .edit-event-container .edit-user-form .selected-image .delete-selected-image:hover, .edit-user-container .create-event-form .selected-image .delete-selected-image:hover, .edit-user-container .edit-event-form .selected-image .delete-selected-image:hover, .edit-user-container .edit-user-form .selected-image .delete-selected-image:hover {
  background: rgba(255, 134, 0, 0.1);
}
.create-event-container .create-event-form .selected-image .content, .create-event-container .edit-event-form .selected-image .content, .create-event-container .edit-user-form .selected-image .content, .edit-event-container .create-event-form .selected-image .content, .edit-event-container .edit-event-form .selected-image .content, .edit-event-container .edit-user-form .selected-image .content, .edit-user-container .create-event-form .selected-image .content, .edit-user-container .edit-event-form .selected-image .content, .edit-user-container .edit-user-form .selected-image .content {
  display: flex;
  align-items: center;
}
.create-event-container .create-event-form .selected-image .content span, .create-event-container .edit-event-form .selected-image .content span, .create-event-container .edit-user-form .selected-image .content span, .edit-event-container .create-event-form .selected-image .content span, .edit-event-container .edit-event-form .selected-image .content span, .edit-event-container .edit-user-form .selected-image .content span, .edit-user-container .create-event-form .selected-image .content span, .edit-user-container .edit-event-form .selected-image .content span, .edit-user-container .edit-user-form .selected-image .content span {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5rem;
  margin-right: 10px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.create-event-container .create-event-form.edit-event-form .content img, .create-event-container .create-event-form.create-event-form .content img, .create-event-container .edit-event-form.edit-event-form .content img, .create-event-container .edit-event-form.create-event-form .content img, .create-event-container .edit-user-form.edit-event-form .content img, .create-event-container .edit-user-form.create-event-form .content img, .edit-event-container .create-event-form.edit-event-form .content img, .edit-event-container .create-event-form.create-event-form .content img, .edit-event-container .edit-event-form.edit-event-form .content img, .edit-event-container .edit-event-form.create-event-form .content img, .edit-event-container .edit-user-form.edit-event-form .content img, .edit-event-container .edit-user-form.create-event-form .content img, .edit-user-container .create-event-form.edit-event-form .content img, .edit-user-container .create-event-form.create-event-form .content img, .edit-user-container .edit-event-form.edit-event-form .content img, .edit-user-container .edit-event-form.create-event-form .content img, .edit-user-container .edit-user-form.edit-event-form .content img, .edit-user-container .edit-user-form.create-event-form .content img {
  border-radius: 5px;
  width: 100px !important;
  min-width: 100px !important;
  height: 50px !important;
  min-height: 50px !important;
}
.create-event-container .create-event-form.edit-user-form .form-group, .create-event-container .edit-event-form.edit-user-form .form-group, .create-event-container .edit-user-form.edit-user-form .form-group, .edit-event-container .create-event-form.edit-user-form .form-group, .edit-event-container .edit-event-form.edit-user-form .form-group, .edit-event-container .edit-user-form.edit-user-form .form-group, .edit-user-container .create-event-form.edit-user-form .form-group, .edit-user-container .edit-event-form.edit-user-form .form-group, .edit-user-container .edit-user-form.edit-user-form .form-group {
  align-items: flex-start;
}
.create-event-container .create-event-form.edit-user-form .content img, .create-event-container .edit-event-form.edit-user-form .content img, .create-event-container .edit-user-form.edit-user-form .content img, .edit-event-container .create-event-form.edit-user-form .content img, .edit-event-container .edit-event-form.edit-user-form .content img, .edit-event-container .edit-user-form.edit-user-form .content img, .edit-user-container .create-event-form.edit-user-form .content img, .edit-user-container .edit-event-form.edit-user-form .content img, .edit-user-container .edit-user-form.edit-user-form .content img {
  border-radius: 5px;
  width: 50px !important;
  min-width: 50px !important;
  height: 50px !important;
  min-height: 50px !important;
}
.create-event-container .create-event-form .selected-image:hover, .create-event-container .create-event-form .additional-image:not(:first-child) input:hover, .create-event-container .edit-event-form .selected-image:hover, .create-event-container .edit-event-form .additional-image:not(:first-child) input:hover, .create-event-container .edit-user-form .selected-image:hover, .create-event-container .edit-user-form .additional-image:not(:first-child) input:hover, .edit-event-container .create-event-form .selected-image:hover, .edit-event-container .create-event-form .additional-image:not(:first-child) input:hover, .edit-event-container .edit-event-form .selected-image:hover, .edit-event-container .edit-event-form .additional-image:not(:first-child) input:hover, .edit-event-container .edit-user-form .selected-image:hover, .edit-event-container .edit-user-form .additional-image:not(:first-child) input:hover, .edit-user-container .create-event-form .selected-image:hover, .edit-user-container .create-event-form .additional-image:not(:first-child) input:hover, .edit-user-container .edit-event-form .selected-image:hover, .edit-user-container .edit-event-form .additional-image:not(:first-child) input:hover, .edit-user-container .edit-user-form .selected-image:hover, .edit-user-container .edit-user-form .additional-image:not(:first-child) input:hover {
  background: #F1F2F6;
  cursor: pointer;
}
.create-event-container .create-event-form .form-header, .create-event-container .edit-event-form .form-header, .create-event-container .edit-user-form .form-header, .edit-event-container .create-event-form .form-header, .edit-event-container .edit-event-form .form-header, .edit-event-container .edit-user-form .form-header, .edit-user-container .create-event-form .form-header, .edit-user-container .edit-event-form .form-header, .edit-user-container .edit-user-form .form-header {
  padding: 10px 10px 0 10px;
}
.create-event-container .create-event-form .form-footer, .create-event-container .edit-event-form .form-footer, .create-event-container .edit-user-form .form-footer, .edit-event-container .create-event-form .form-footer, .edit-event-container .edit-event-form .form-footer, .edit-event-container .edit-user-form .form-footer, .edit-user-container .create-event-form .form-footer, .edit-user-container .edit-event-form .form-footer, .edit-user-container .edit-user-form .form-footer {
  padding: 0 10px 10px 10px;
}
.create-event-container .create-event-form textarea, .create-event-container .edit-event-form textarea, .create-event-container .edit-user-form textarea, .edit-event-container .create-event-form textarea, .edit-event-container .edit-event-form textarea, .edit-event-container .edit-user-form textarea, .edit-user-container .create-event-form textarea, .edit-user-container .edit-event-form textarea, .edit-user-container .edit-user-form textarea {
  min-height: 120px;
}

/*# sourceMappingURL=styles.css.map */
