@import "reset.css";
@import "variables";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #758BFD;
}

::-webkit-scrollbar-thumb:hover {
  background: #27187E;
}

body {
  @include font();
  overflow-x: hidden;
  background: $color-anti-flash-white !important;
}

.link {
  color: $color-cornflower-blue;
  text-decoration: none !important;
  cursor: pointer;

  &.active, &:hover {
    color: $color-ut-orange !important;
  }

  svg {
    width: $font-size-2xl;
    height: $font-size-2xl;
  }
}

.dropdown {
  position: absolute !important;
  width: 100%;
  box-shadow: 0 0 10px -5px $color-black;
  z-index: 9;
  background: $color-white;
  padding: 5px;
  border-radius: 5px;

  &.hidden {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    background: $color-white;
    border-radius: inherit;
    display: block;
    z-index: -1;
    width: 32px;
    height: 32px;
    transform: rotate(45deg) translateY(calc(-50% + 10px));
    right: 20px;
    top: 0;
  }

  ul {
    margin: 0;
  }

  a, .link {
    border-radius: 5px;
    padding: 5px 10px;
    color: $color-black !important;
    cursor: pointer;
    background: $color-white;

    &:hover {
      color: $color-ut-orange !important;
      background: $color-anti-flash-white;
    }
  }
}

.select {
  position: relative;
  border-radius: 5px;
  padding: 5px;
  background: $color-white;
  cursor: pointer;

  .selected-option {
    padding: 5px;

    &:hover {
      color: $color-ut-orange !important;
      background: $color-anti-flash-white;
    }
  }

  .options-list {
    position: absolute;
    box-shadow: 0 0 10px -5px $color-black;
    background: $color-white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    top: calc(100% + 5px);
    left: 0;
    display: none;

    &.visible {
      display: block;
    }
  }

  .select-option {
    width: 100%;
  }

  a, .link {
    border-radius: 5px;
    padding: 5px 10px;
    color: $color-black;
    cursor: pointer;
    background: $color-white;
    width: 100%;
    display: inline-block;
    text-decoration: none !important;

    &:hover {
      color: $color-ut-orange !important;
      background: $color-anti-flash-white;
    }
  }
}

.navbar {
  background: $color-persian-indigo;
  color: $color-anti-flash-white;
  padding-block: 0 !important;
  width: 100%;
  top: 0;
  z-index: 10;

  & + div {
    margin-top: 57px;
  }

  h1 {
    @include font($font-family: $font-family-nunito, $font-size: $font-size-2xl, $font-weight: 700);
    margin: 0;
    padding: 0;
    display: inline-flex;

    a {
      display: inline-flex;
      align-items: center;
      margin: 0;

      img {
        transition: 0.5s ease;
        margin: 0;
      }

      span {
        margin-left: 5px;
      }

      &:hover img {
        transform: rotate(180deg);
      }
    }
  }

  .link {
    color: $color-anti-flash-white;
  }

  nav {
    display: flex;
    @include font($font-size: $font-size-base);

    a {
      display: inline-flex;
      padding: 15px;
      margin-inline: 10px;
      font-size: $font-size-xl;
      border-bottom: 3px solid $color-persian-indigo;

      &.active {
        border-bottom: 3px solid $color-ut-orange;
      }
    }
  }

  .profile-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    user-select: none;

    img {
      border-radius: 100%;
    }

    .profile-dropdown {
      width: 200px;
      right: 0;
      top: calc(100% + 10px);
    }

    .link {
      display: inline-flex !important;
      align-items: center;
      width: 100%;

      span {
        margin-bottom: 0 !important;
        margin-left: 10px;
      }
    }
  }
}

.button {
  @include border-radius(5px, 5px, 5px, 5px);
  padding: 5px 10px;
  color: $color-black;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.3s ease;
  text-decoration: none !important;
  cursor: pointer;

  &.button-ut-orange {
    background: $color-ut-orange;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-ut-orange, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-black {
    background: $color-black;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-black, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-persian-indigo {
    background: $color-persian-indigo;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-persian-indigo, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-cornflower-blue {
    background: $color-cornflower-blue;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-cornflower-blue, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-periwinkle {
    background: $color-periwinkle;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-periwinkle, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-anti-flash-white {
    background: $color-anti-flash-white;
    color: $color-black;

    &:hover {
      background: rgba($color-anti-flash-white, 0.9);
      color: $color-black;
    }
  }

  &.button-green {
    background: $color-green;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-green, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-red {
    background: $color-red;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-red, 0.9);
      color: $color-anti-flash-white;
    }
  }
}

.errors {
  width: 100%;

  .error {
    @include font($font-size: $font-size-sm);
    @include border-radius(5px, 5px, 5px, 5px);
    display: inline-flex;
    width: 100%;
    color: $color-red;
    border: 1px solid $color-red;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: rgba($color-red, 0.1);

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.form {

  .errors {
    width: 100%;
  }

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .button {
      display: inline-flex;
    }
  }

  .form-footer {
    width: 100%;
    margin-top: 10px;

    .button {
      width: 100%;
    }
  }

  .form-content {
    width: 100%;
    flex-wrap: wrap;

    .form-group {
      display: inline-flex;
      padding: 0;
      margin: 0;

      .form-item {
        display: inline-flex;
        width: 100%;
        padding: 0;

        label {
          @include font($font-size: $font-size-sm);
          margin: 0;
          color: rgba($color-black, 0.9);
        }

        input[type='checkbox'] {
          margin-right: 5px;
        }

        input:not([type='submit'], [type='checkbox']), textarea, select {
          outline: none;
          padding: 5px 7px;
          width: 100%;
          border: 1px solid $color-anti-flash-white !important;
          color: rgba($color-black, 0.9);
          @include border-radius(5px, 5px, 5px, 5px);
          @include font($font-size: $font-size-sm, $line-height: $line-height-sm);
        }
      }
    }
  }
}

.sign-in-container, .sign-up-container {
  height: 100vh;
}

.sign-in-form, .sign-up-form {
  padding: 20px;
  border-radius: 5px;
  background: white;
  max-width: 500px;
  width: 100%;

  .form-header {
    justify-content: center;

    h4 {
      margin: 0;
    }
  }

  .form-group {

    .form-item {

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &.sign-in-form {

    .sign-up-redirect {
      max-width: 200px;
    }
  }

  .sign-up-redirect, .sign-in-redirect {
    @include font($font-size: $font-size-sm);

    a {
      color: $color-ut-orange;
      border-bottom: 1px dashed $color-ut-orange;
    }
  }
}

.chat-page-container {
  position: relative;
  height: calc(100vh - 57px);

  .events {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background: $color-white;
    border-right: 1px solid rgba($color-black, 0.1);
    overflow-y: auto;
    resize: horizontal;
    min-width: 320px;
    padding: 5px;

    .event {
      padding: 10px 10px 5px 15px;
      transition: 0.3s ease;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative;

      &::after {
        content: "";
        display: block;
        margin-top: 5px;
        position: absolute;
        bottom: -6px;
        width: 100%;
        left: 0;
        border-bottom: 1px solid rgba($color-black, 0.03);
      }

      &.active {
        background: rgba(blue, 0.6);
        color: $color-white;

        .last-message {
          color: $color-white;
        }
      }

      .last-message {
        @include font($font-size: $font-size-sm);
        color: rgba($color-black, 0.5);

        > div {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        > time {
          @include font($font-size: $font-size-xs);
        }
      }
      
      &:not(.active):hover {
        background: $color-anti-flash-white;
      }
    }
  }

  .chat {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.choose-chat {
      align-items: center;
      justify-content: center;

      .choose-chat-heading {
        @include font($font-size: $font-size-base, $font-weight: 600);
        background: rgba($color-black, 0.02);
        box-shadow: 0 0 5px -5px black;
        padding: 5px 10px;
        border-radius: 15px;
      }
    }

    .chat-header, .chat-container, .chat-footer {
      width: 100%;
      flex: 0 1 auto;
      position: relative;
    }

    .chat-container {
      height: calc(100% - 112px);
    }

    .chat-header {
      padding: 15px 20px;
      box-shadow: 0 3px 5px -5px black;
      z-index: 3;

      h2 {
        @include font($font-size: $font-size-xl, $font-weight: 600);
        margin: 0;
      }
    }

    .chat-footer {
      padding: 10px 20px;
      box-shadow: 0 -3px 5px -5px black;
      z-index: 3;

      #send-message-form {

        label {
          margin-right: 10px;
        }

        input[type='text'] {
          @include font();
          margin-right: 10px;
          padding: 6px 10px;
          border: 1px solid rgba($color-black, 0.1) !important;
        }
      }
    }

    .date-delimiter {
      @include font($font-size: $font-size-sm);
      color: rgba($color-black, 0.5);
      padding: 20px 10px;
      width: 100%;
      text-align: center;
      position: relative;

      span {
        background: $color-anti-flash-white;
        padding: 5px 10px;
        position: relative;
        z-index: 2;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px dashed rgba($color-black, 0.2);
        top: calc(50% + 1px);
        position: absolute;
      }
    }

    .messages {
      display: flex;
      flex-direction: column-reverse;
      overflow-y: scroll;
      padding: 10px 20px;
      height: 100%;

      .message-container.my-message + .message-container:not(.my-message), .message-container:not(.my-message) + .message-container.my-message {
        padding-bottom: 10px;
      }

      .message-container {
        display: flex;
        align-items: flex-end;
        padding-block: 1px;

        .profile-image {
          min-width: 32px !important;
          min-height: 32px !important;
          width: 32px;
          height: 32px;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 1px solid rgba($color-black, 0.3);
          }
        }

        .message {
          padding: 5px 10px;
          max-width: 500px;
          background: $color-white;
          position: relative;
          @include border-radius(5px, 5px, 5px, 0);

          .sender {
            @include font($font-size: $font-size-xs, $font-weight: 600);
            color: $color-ut-orange;
            text-decoration: none !important;
          }

          .content {
            @include font($font-size: $font-size-sm);

            .time-space {
              display: inline-flex;
              width: 35px;
            }
          }

          .time {
            @include font($font-size: $font-size-xs);
            position: relative;
            width: 100%;
            color: rgba($color-black, 0.5);
            margin-top: -22px;
            text-align: right;
          }
        }

        &:not(.my-message) {

          .message {
            margin-right: 42px;
          }
        }

        &.my-message {
          justify-content: flex-start;
          flex-direction: row-reverse;

          .profile-image img {
            margin-left: 10px;
            margin-right: 0;
          }

          .message {
            background: $color-cornflower-blue;
            color: $color-white;
            margin-left: 42px;
            @include border-radius(5px, 5px, 0, 5px);

            .sender {
              color: $color-yellow;
            }

            .time {
              color: rgba($color-yellow, 0.7);
            }
          }
        }
      }
    }
  }
}



/* стилі для сторінки івентів */

.user-avatar:hover{
  color: $color-persian-indigo;
}

/* ----------------- sidebar ------------------------*/

.sidebar-activities{
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 0;
  background-color: $color-periwinkle;
  overflow-x: hidden;
  padding-top: 20px;

  form {
    text-align: center;
    margin: auto;
    width: 225px;
  }

  div {
    margin-bottom: 25px;
  }

  .fa-solid {
    color: $color-persian-indigo;
    margin-bottom: 5px;
  }

  .fa-gear {
    margin: 40px 0 40px 0 !important;
  }

  .btn-search-activities {
    border: 2px solid $color-persian-indigo;
    color: $color-persian-indigo;
    font-weight: 600;
    font-size: 14px;
  }
}

/*----------------------- main activities ------------------- */
.main-activities{
  display: block;
  margin-left: 320px;
  padding: 0 10px;
  margin-top: 80px;

  .activity {
    width: 700px;
    height: 500px;
    background-color: $color-white;
    border-radius: 50px;
    box-shadow: 5px 10px 18px $color-periwinkle;
    margin: auto;
    padding: 40px;
    text-align: center;
  }

  .button-col {
    margin: auto;
    font-size: 22px;
  }

  .btn-heart {
    text-align: end;
    color: $color-ut-orange;

    &:hover{
      color: rgba($color-ut-orange, 0.9);
    }
  }

  .btn-x{
    text-align: start;
    color: $color-persian-indigo;

    &:hover{
      color: rgba($color-persian-indigo, 0.9);
    }
  }

  .activity-icons-row {
    margin-top: 45px;
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
  }

  .activity-icons-row i {
    color: $color-ut-orange;
    margin-bottom: 22px;
  }

  .activity-icons-row p {
    margin-bottom: 0;
  }

  .activity-img {
    width: 300px;
    height: 215px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-left: 10px;

    img {
      object-fit: cover;
      border-radius: 15px;
      width: 100%;
      height: 100%;
    }
  }

  .activity-text {
    text-align: center;
  }
}

/*-------------------- main calendar --------------------*/
.cal-modal-container {
  background: $color-anti-flash-white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 57px);
}

.cal-modal {
  user-select: none;
  width: 100%;
  background: $color-cornflower-blue;
  color: $color-white;
  padding: 40px 60px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px -5px $color-black;
  min-height: 550px;

  h3 {
    font-size: $font-size-4xl;
    font-weight: 900;
    margin-bottom: 40px;
  }

  .loading {
    margin-top: 25px;
    width: 300px;
    height: 300px;
    padding: 120px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

#calendar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 927px;

  .placeholder {
    width: 300px;
  }

  .flatpickr-calendar {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $color-white;
    top: 0;
    min-height: 325px;
    user-select: none;

    .flatpickr-innerContainer {
      overflow: visible;

      .flatpickr-weekdays {
        overflow: visible;

        .flatpickr-weekdaycontainer {
          max-width: 307.875px;
          padding: 0 10px;
          position: relative;

          .flatpickr-weekday {
            color: #fff;
            font-weight: 700;
          }

          &:last-child::after {
            content: none;
          }

          &::after {
            content: '';
            background: #343f48;
            position: absolute;
            top: -32px;
            bottom: -230px;
            right: 0;
            width: 1px;
          }
        }
      }
    }

    .flatpickr-months {

      .flatpickr-month {
        color: inherit;
        margin-bottom: 10px;

        .flatpickr-current-month {
          font-size: 16px;

          .numInputWrapper {
            display: none;
          }
        }
      }

      .flatpickr-prev-month, .flatpickr-next-month {
        top: calc(50% - 23px);

        svg {
          height: 46px;
          width: 46px;

          path {
            fill: $color-persian-indigo;
          }
        }
      }

      .flatpickr-prev-month {
        left: -60px;
      }

      .flatpickr-next-month {
        right: -60px;
      }
    }

    .dayContainer {
      box-shadow: none;
      padding: 0 10px;
      position: static;

      &:last-child::after {
        content: none;
      }
    }

    .flatpickr-day {
      background: $color-white;
      border: 0;
      color: $color-black;
      font-weight: 500;
      transition: 0.5s ease;
      display: inline-flex;
      margin-bottom: 3px;

      &.flatpickr-disabled, &.flatpickr-disabled:hover {
        background: none;
        color: $color-white;
        cursor: default;
      }

      &.selected:not(.hidden), &.selected:not(.hidden):hover, &.selected:not(.hidden):focus {
        background: $color-ut-orange;
        color: $color-white;
      }

      &:hover {
        background: $color-ut-orange;
        color: $color-white;
      }

      .nextMonthDay, .prevMonthDay {
        background: none;
        color: rgba(207, 210, 211, .1) !important;
        cursor: default;
        visibility: visible;
      }
    }
  }

  .calendar-events {
    display: flex;
    flex-wrap: wrap;
    min-height: 36px;
    text-align: left;
    width: 100%;
    max-width: 927px !important;

    > [class*='col-'] {
      padding: 5px;
    }

    h5 {
      margin-top: 20px;
      padding-inline: 5px;
      font-size: $font-size-xl;

      .date {
        font-size: $font-size-lg;
      }
    }

    .event {
      font-size: $font-size-base;
      background: $color-periwinkle;
      border-radius: 5px;
      box-shadow: 0 0 7px -5px $color-black;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: rgba($color-periwinkle, 0.6);
      }

      a {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 10px;
        text-decoration: none !important;
      }

      .title {
        color: $color-white;
        font-weight: 600;
        width: 100%;
        display: inline-flex;
      }

      .location {
        color: $color-persian-indigo;
        font-weight: 800;
        letter-spacing: -0.8px;
        width: 100%;
        display: inline-flex;
      }
    }
  }
}

/*
---------------------- navbar -----------------------
.navbar{
  background-color: #27187E;
  color: white;
}

.nav-link, .navbar-brand{
  color: white;
}

.navbar-brand{
  font-weight: 600;
  font-family: 'Ubuntu';
}

.nav-link:hover, .navbar-brand:hover{
  color: #AEB8FE;
}

.user-avatar{
  height: 33px;
  width: 33px;
  background-color: #AEB8FE;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
}

.user-avatar:hover{
  color: #27187E;
}*/

/*--------------- user page -----------------*/

.sidebar-user {
  height: 100vh;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: $color-periwinkle;
  overflow-x: hidden;
  padding: 10px 30px 0 30px;
}

.user-events {
  margin-left: 450px;
  text-align: center;
  height: inherit;
  overflow-y: auto;
  padding-bottom: 40px;
  padding-top: 100px;
}

.user-picture {
  width: 175px;
  height: 175px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  margin: auto auto 20px auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
  }
}

.user-container {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
}

.edit-user {
  margin-right: 25px;
}

.edit-user:hover, .delete-user:hover {
  cursor: pointer;
  color: $color-persian-indigo;
}

.user-activity {
  width: 1000px;
  height: 320px;
  background-color: $color-white;
  border-radius: 50px;
  box-shadow: 5px 10px 18px $color-periwinkle;
  margin: 50px auto 50px auto;
  padding: 20px;
  text-align: center;
  clear: both;
}

.user-activity-row {
  margin-bottom: 15px;
  padding: 10px 20px 0 10px;

  i {
    color: $color-ut-orange;
    margin-bottom: 22px;
  }

  p {
    margin-bottom: 0;
  }
}

.user-activity-img{
  width: 300px;
  height: 215px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-left: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.user-activity-name-row {
  text-align: left;
  margin: 0 5px 15px 5px;
}

.navbar + .sidebar-user {
  margin-top: 0;
}

.edit-user-activity {
  margin-right: 20px;
}

.user-activity-name {
  font-weight: 500;
  color: $color-persian-indigo;
}

.user-activity-edit-delete-icons {
  color: $color-cornflower-blue;
  text-align: end;
  padding-right: 35px;
}

.edit-user-activity:hover, .delete-user-activity:hover {
  color: $color-persian-indigo;
  cursor: pointer;
}

.default-user-control {
  border: 1px solid rgba($color-black, 0.1);
  background: $color-white;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 200px;
}

.join-requests-page {

  .header {
    padding-block: 20px 0;
    margin: 0;

    h2 {
      @include font($font-size: $font-size-2xl, $font-weight: 600);
      margin-bottom: 20px;
    }

    .default-user-control {
      box-shadow: 0 0 7px -5px $color-black;
      border: none;
      cursor: pointer;
      color: rgba($color-black, 0.7);
      font-weight: 500;
      font-size: $font-size-sm;
    }
  }

  .join-requests-list {
    width: 100%;
    background: $color-white;
    border-radius: 5px;
    box-shadow: 0 0 7px -5px $color-black;
    border-spacing: 0 5px;
    border-collapse: separate;
    padding-inline: 5px;

    .header {

      th {
        padding: 10px;
        font-weight: bold;
        vertical-align: middle;
      }

      .actions {
        width: 210px;
      }
    }

    .join-request {
      transition: 0.3s ease;

      &:nth-child(2n) {
        background: rgba($color-black, 0.03);
      }

      &:hover {
        background: $color-anti-flash-white;
      }

      td {
        padding: 10px;
        vertical-align: middle;

        &:first-child {
          @include border-radius(5px, 0, 0, 5px);
        }

        &:last-child {
          @include border-radius(0, 5px, 5px, 0);
        }
      }

      > div {
        width: 100%;
      }

      .actions {

        .no-actions {
          @include font($font-size: $font-size-sm);
          color: rgba($color-black, 0.7);
        }
      }

      .created-at {
        @include font($font-size: $font-size-sm);
        color: rgba($color-black, 0.7);
      }

      .status {
        @include font($font-size: $font-size-sm, $font-weight: 600);

        .accepted {
          color: $color-green;
        }

        .pending {
          color: $color-ut-orange;
        }

        .rejected {
          color: $color-red;
        }
      }
    }
  }
}

.create-event-container, .edit-event-container, .edit-user-container {
  padding-top: 20px;

  .create-event-form, .edit-event-form, .edit-user-form {
    background: $color-white;
    box-shadow: 0 0 7px -5px $color-black;
    border-radius: 5px;
    padding: 10px;

    .form-content {

      .form-group {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .form-item {
          padding-inline: 10px;
          margin-bottom: 10px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          input[type='file'] {
            @include font($font-size: $font-size-sm);
            padding: 1px;
          }
        }
      }
    }

    #additional-images {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: 0;
      padding: 0;

      .additional-image:first-child input {
        background: rgba($color-ut-orange, 0.1) !important;
      }
    }

    .additional-image {
      margin-block: 2px !important;
    }

    .selected-image {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      border: 1px solid $color-anti-flash-white;
      padding: 5px;
      width: 100%;

      .delete-selected-image {
        color: $color-ut-orange;
        padding: 7px 10px;
        font-size: $font-size-xl;
        border-radius: 100%;

        &:hover {
          background: rgba($color-ut-orange, 0.1);
        }
      }

      .content {
        display: flex;
        align-items: center;

        span {
          @include font($font-size: $font-size-sm, $font-weight: 500);
          margin-right: 10px;
          margin-left: 10px;
          color: rgba($color-black, 0.7);
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }

    &.edit-event-form, &.create-event-form {

      .content {

        img {
          border-radius: 5px;
          width: 100px !important;
          min-width: 100px !important;
          height: 50px !important;
          min-height: 50px !important;
        }
      }
    }

    &.edit-user-form {

      .form-group {
        align-items: flex-start;
      }

      .content {

        img {
          border-radius: 5px;
          width: 50px !important;
          min-width: 50px !important;
          height: 50px !important;
          min-height: 50px !important;
        }
      }
    }

    .selected-image:hover, .additional-image:not(:first-child) input:hover {
      background: $color-anti-flash-white;
      cursor: pointer;
    }

    .form-header {
      padding: 10px 10px 0 10px;
    }

    .form-footer {
      padding: 0 10px 10px 10px;
    }

    textarea {
      min-height: 120px;
    }
  }
}