@import "reset.css";
@import "variables";

@media screen and (max-width: 1200px) {
  .cal-modal {
    width: auto;
  }

  .chat-page-container {

    .events {
      max-width: 400px !important;
    }
  }

  .events-page {
    flex-wrap: wrap;
    overflow-x: auto;

    .hide-filters, .show-filters {
      display: inline-flex !important;
    }

    .show-filters {
      z-index: 5 !important;
    }

    .button-col {
      position: relative;
      z-index: 8;
    }

    .sidebar-activities {
      display: none;
      max-width: 100% !important;
      width: 100% !important;
      position: absolute;
      border-radius: 0 !important;
      top: 48px;
      left: -10px;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
}

@media screen and (max-width: 992px) {

  .chat-page-container {

    .events {
      max-width: 320px !important;
    }
  }
}

@media screen and (max-width: 768px) {

  .join-requests-page {

    .join-requests-list {
      min-width: 738px;
    }

    overflow-x: auto;
    padding-bottom: 15px;
    padding-inline: 15px;
  }

  .user-profile-container {

    .user-container {
      flex-wrap: wrap;

      .user-picture {
        width: 100%;
        text-align: center;
      }

      .user-info {
        margin-inline: 0 !important;
      }
    }
  }

  .details-activity {

    .activity-img {
      text-align: left;
    }
  }

  .chat-page-container {

    .events {
      display: none;
      max-width: 100% !important;
      position: absolute !important;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 8;

      &.visible {
        display: block;
      }
    }

    .chat-header {

      h2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .show-chats {
        display: inline-flex !important;
      }
    }
  }

  .mobile-hidden {
    display: none !important;
  }

  .desktop-hidden {
    display: block !important;
  }
}

@media screen and (max-width: 475px) {

  .cal-modal {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border: 20px solid $color-cornflower-blue;

    h3 {
      margin-inline: 35px;
    }

    #calendar {
      margin-left: 70px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #758BFD;
}

::-webkit-scrollbar-thumb:hover {
  background: #27187E;
}

body {
  @include font();
  overflow-x: hidden;
  background: $color-anti-flash-white !important;
}

.link {
  color: $color-cornflower-blue;
  text-decoration: none !important;
  cursor: pointer;

  &.active, &:hover {
    color: $color-ut-orange !important;
  }

  svg {
    width: $font-size-2xl;
    height: $font-size-2xl;
  }
}

.dropdown {
  position: absolute !important;
  width: 100%;
  box-shadow: 0 0 10px -5px $color-black;
  z-index: 9;
  background: $color-white;
  padding: 5px;
  border-radius: 5px;

  &.hidden {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    background: $color-white;
    border-radius: inherit;
    display: block;
    z-index: -1;
    width: 32px;
    height: 32px;
    transform: rotate(45deg) translateY(calc(-50% + 10px));
    right: 20px;
    top: 0;
  }

  ul {
    margin: 0;
  }

  a, .link {
    border-radius: 5px;
    padding: 5px 10px;
    color: $color-black !important;
    cursor: pointer;
    background: $color-white;

    &:hover {
      color: $color-ut-orange !important;
      background: $color-anti-flash-white;
    }
  }
}

.select {
  position: relative;
  border-radius: 5px;
  padding: 5px;
  background: $color-white;
  cursor: pointer;

  .selected-option {
    padding: 5px;

    &:hover {
      color: $color-ut-orange !important;
      background: $color-anti-flash-white;
    }
  }

  .options-list {
    position: absolute;
    box-shadow: 0 0 10px -5px $color-black;
    background: $color-white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    top: calc(100% + 5px);
    left: 0;
    display: none;

    &.visible {
      display: block;
    }
  }

  .select-option {
    width: 100%;
  }

  a, .link {
    border-radius: 5px;
    padding: 5px 10px;
    color: $color-black;
    cursor: pointer;
    background: $color-white;
    width: 100%;
    display: inline-block;
    text-decoration: none !important;

    &:hover {
      color: $color-ut-orange !important;
      background: $color-anti-flash-white;
    }
  }
}

.desktop-hidden {
  display: none;
}

.navbar {
  background: $color-persian-indigo;
  color: $color-anti-flash-white;
  padding-block: 0 !important;
  width: 100%;
  top: 0;
  height: 58px;
  z-index: 10;

  & + div {
    margin-top: 57px;
  }

  .show-mobile-menu {
    margin-block: 5px 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $color-anti-flash-white;

    svg {
      width: $font-size-4xl;
      height: $font-size-4xl;
    }
  }

  .mobile-menu {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-persian-indigo;
    height: 100vh;
    transition: 0.3s ease;
    display: none;
    flex-direction: column;

    h1 {
      padding: 20px 20px 10px 20px;
    }

    .hide-mobile-menu {
      position: absolute;
      z-index: 12;
      right: 20px;
      top: 20px;
    }

    > nav {
      padding: 10px 20px;
      display: inline-flex;
      width: 100%;
      flex-direction: column;

      a {
        background: $color-cornflower-blue;
        padding: 10px;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        border: 5px solid $color-cornflower-blue;

        &.active {
          color: $color-white !important;
          border: 5px solid $color-periwinkle;
        }

        svg {
          margin-right: 10px;
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .profile-container {
      position: absolute;
      z-index: 12;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border: 5px solid $color-ut-orange;
      border-radius: 5px;
      padding: 10px;
      background: $color-ut-orange;

      img {
        margin-right: 10px;
      }
    }
  }

  h1 {
    @include font($font-family: $font-family-nunito, $font-size: $font-size-2xl, $font-weight: 700);
    margin: 0;
    padding: 0;
    display: inline-flex;

    a {
      display: inline-flex;
      align-items: center;
      margin: 0;

      img {
        transition: 0.5s ease;
        margin: 0;
      }

      span {
        margin-left: 5px;
      }

      &:hover img {
        transform: rotate(180deg);
      }
    }
  }

  .link {
    color: $color-anti-flash-white;
  }

  > nav {
    display: flex;
    @include font($font-size: $font-size-base);

    a {
      display: inline-flex;
      padding: 15px;
      margin-inline: 10px;
      font-size: $font-size-xl;
      border-bottom: 3px solid $color-persian-indigo;

      &.active {
        border-bottom: 3px solid $color-ut-orange;
      }
    }
  }

  .profile-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    user-select: none;

    img {
      border-radius: 100%;
    }

    .profile-dropdown {
      width: 200px;
      right: 0;
      top: calc(100% + 10px);
    }

    .link {
      display: inline-flex !important;
      align-items: center;
      width: 100%;

      span {
        margin-bottom: 0 !important;
        margin-left: 10px;
      }
    }
  }
}

.button {
  @include border-radius(5px, 5px, 5px, 5px);
  padding: 5px 10px;
  color: $color-black;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.3s ease;
  text-decoration: none !important;
  cursor: pointer;

  &.button-ut-orange {
    background: $color-ut-orange;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-ut-orange, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-black {
    background: $color-black;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-black, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-persian-indigo {
    background: $color-persian-indigo;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-persian-indigo, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-cornflower-blue {
    background: $color-cornflower-blue;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-cornflower-blue, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-periwinkle {
    background: $color-periwinkle;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-periwinkle, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-anti-flash-white {
    background: $color-anti-flash-white;
    color: $color-black;

    &:hover {
      background: rgba($color-anti-flash-white, 0.9);
      color: $color-black;
    }
  }

  &.button-green {
    background: $color-green;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-green, 0.9);
      color: $color-anti-flash-white;
    }
  }

  &.button-red {
    background: $color-red;
    color: $color-anti-flash-white;

    &:hover {
      background: rgba($color-red, 0.9);
      color: $color-anti-flash-white;
    }
  }
}

.errors {
  width: 100%;

  .error {
    @include font($font-size: $font-size-sm);
    @include border-radius(5px, 5px, 5px, 5px);
    display: inline-flex;
    width: 100%;
    color: $color-red;
    border: 1px solid $color-red;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: rgba($color-red, 0.1);

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.form {

  .errors {
    width: 100%;
  }

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .button {
      display: inline-flex;
    }
  }

  .form-footer {
    width: 100%;
    margin-top: 10px;

    .button {
      width: 100%;
    }
  }

  .form-content {
    width: 100%;
    flex-wrap: wrap;

    .form-group {
      display: inline-flex;
      padding: 0;
      margin: 0;

      .form-item {
        display: inline-flex;
        width: 100%;
        padding: 0;

        label {
          @include font($font-size: $font-size-sm);
          margin: 0;
          color: rgba($color-black, 0.9);
        }

        input[type='checkbox'] {
          margin-right: 5px;
        }

        input:not([type='submit'], [type='checkbox']), textarea, select {
          outline: none;
          padding: 5px 7px;
          width: 100%;
          border: 1px solid $color-anti-flash-white !important;
          color: rgba($color-black, 0.9);
          @include border-radius(5px, 5px, 5px, 5px);
          @include font($font-size: $font-size-sm, $line-height: $line-height-sm);
        }
      }
    }
  }
}

.sign-in-container, .sign-up-container {
  height: 100vh;
}

.sign-in-form, .sign-up-form {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background: white;
  max-width: 500px;
  width: 100%;

  .form-header {
    justify-content: center;

    h4 {
      margin: 0;
    }
  }

  .form-group {

    .form-item {

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &.sign-in-form {

    .sign-up-redirect {
      max-width: 200px;
    }
  }

  .sign-up-redirect, .sign-in-redirect {
    @include font($font-size: $font-size-sm);

    a {
      color: $color-ut-orange;
      border-bottom: 1px dashed $color-ut-orange;
    }
  }
}

.chat-page-container {
  position: relative;
  height: calc(100vh - 58px);

  .events {
    position: relative;
    width: 100%;
    height: 100%;
    background: $color-white;
    border-right: 1px solid rgba($color-black, 0.1);
    overflow-y: auto;
    resize: horizontal;
    min-width: 320px;
    max-width: 500px;
    padding: 5px;

    .event {
      padding: 10px 10px 5px 15px;
      transition: 0.3s ease;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative;

      &::after {
        content: "";
        display: block;
        margin-top: 5px;
        position: absolute;
        bottom: -6px;
        width: 100%;
        left: 0;
        border-bottom: 1px solid rgba($color-black, 0.03);
      }

      &.active {
        background: rgba(blue, 0.6);
        color: $color-white;

        .last-message {
          color: $color-white;
        }
      }

      .last-message {
        @include font($font-size: $font-size-sm);
        color: rgba($color-black, 0.5);

        > div {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        > time {
          @include font($font-size: $font-size-xs);
        }
      }
      
      &:not(.active):hover {
        background: $color-anti-flash-white;
      }
    }
  }

  .chat {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.choose-chat {
      align-items: center;
      justify-content: center;

      .choose-chat-heading {
        @include font($font-size: $font-size-base, $font-weight: 600);
        background: rgba($color-black, 0.02);
        box-shadow: 0 0 5px -5px black;
        padding: 5px 10px;
        border-radius: 15px;
      }
    }

    .chat-header, .chat-container, .chat-footer {
      width: 100%;
      flex: 0 1 auto;
      position: relative;
    }

    .chat-container {
      height: calc(100% - 113px);
    }

    .chat-header {
      padding: 10px;
      height: 54px;
      box-shadow: 0 3px 5px -5px black;
      z-index: 3;
      display: inline-flex;
      align-items: center;

      .show-chats {
        display: none;
      }

      h2 {
        @include font($font-size: $font-size-xl, $font-weight: 600);
        margin: 0;
      }
    }

    .chat-footer {
      padding: 10px;
      box-shadow: 0 -3px 5px -5px black;
      z-index: 3;

      #send-message-form {

        label {
          margin-right: 10px;
        }

        input[type='text'] {
          @include font();
          margin-right: 10px;
          padding: 6px 10px;
          border: 1px solid rgba($color-black, 0.1) !important;
          min-width: 128px !important;
        }
      }
    }

    .date-delimiter {
      @include font($font-size: $font-size-sm);
      color: rgba($color-black, 0.5);
      padding-block: 20px;
      width: 100%;
      text-align: center;
      position: relative;

      span {
        background: $color-anti-flash-white;
        padding: 5px 10px;
        position: relative;
        z-index: 2;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px dashed rgba($color-black, 0.2);
        top: calc(50% + 1px);
        position: absolute;
      }
    }

    .messages {
      display: flex;
      flex-direction: column-reverse;
      overflow-y: scroll;
      padding: 10px;
      height: 100%;

      .message-container.my-message + .message-container:not(.my-message), .message-container:not(.my-message) + .message-container.my-message {
        padding-bottom: 10px;
      }

      .message-container {
        display: flex;
        align-items: flex-end;
        padding-block: 1px;

        .profile-image {
          min-width: 32px !important;
          min-height: 32px !important;
          width: 32px;
          height: 32px;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 1px solid rgba($color-black, 0.3);
          }
        }

        .message {
          padding: 5px 10px;
          max-width: 500px;
          background: $color-white;
          position: relative;
          @include border-radius(5px, 5px, 5px, 0);

          .sender {
            @include font($font-size: $font-size-xs, $font-weight: 600);
            color: $color-ut-orange;
            text-decoration: none !important;
          }

          .content {
            @include font($font-size: $font-size-sm);

            .time-space {
              display: inline-flex;
              width: 35px;
            }
          }

          .time {
            @include font($font-size: $font-size-xs);
            position: relative;
            width: 100%;
            color: rgba($color-black, 0.5);
            margin-top: -22px;
            text-align: right;
          }
        }

        &:not(.my-message) {

          .message {
            margin-right: 42px;
          }
        }

        &.my-message {
          justify-content: flex-start;
          flex-direction: row-reverse;

          .profile-image img {
            margin-left: 10px;
            margin-right: 0;
          }

          .message {
            background: $color-cornflower-blue;
            color: $color-white;
            margin-left: 42px;
            @include border-radius(5px, 5px, 0, 5px);

            .sender {
              color: $color-yellow;
            }

            .time {
              color: rgba($color-yellow, 0.7);
            }
          }
        }
      }
    }
  }
}

.user-avatar:hover{
  color: $color-persian-indigo;
}

.events-page {
  display: flex;

  .show-filters {
    position: absolute;
    padding: 10px;
    background: $color-periwinkle;
    border-radius: 5px;
    box-shadow: 0 0 7px -5px $color-black;
    z-index: -1;
    margin: 10px;

    svg {
      width: $font-size-3xl;
      height: $font-size-3xl;
    }
  }

  .sidebar-activities {
    min-width: 320px;
    width: 320px;
    border-radius: 5px;
    box-shadow: 0 0 7px -5px $color-black;
    margin: 10px;
    background-color: $color-periwinkle;
    padding: 20px;

    .hide-filters, .show-filters {
      display: none;
    }

    .event-filters-form {
      color: $color-persian-indigo;

      .form-item {
        margin-bottom: 20px;

        label {
          vertical-align: middle;
          display: inline-flex;
          align-items: center;
          padding-bottom: 5px;
          color: $color-persian-indigo !important;
        }

        i {
          font-size: $font-size-base;
          margin-right: 5px;
        }
      }
    }
  }

  .main-activities {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    min-height: calc(100vh - 58px);
    position: relative;

    .row {
      width: 100%;
      flex-wrap: nowrap;
    }

    .button-col {
      font-size: 22px;
      padding: 0;
    }

    .btn-heart {
      text-align: end;
      color: $color-ut-orange;

      &:hover{
        color: rgba($color-ut-orange, 0.9);
      }
    }

    .btn-x {
      text-align: start;
      color: $color-persian-indigo;

      &:hover{
        color: rgba($color-persian-indigo, 0.9);
      }
    }
  }
}

.event-details-page {
  padding-block: 10px;
}

.activity-wrapper {
  max-width: 700px !important;
}

.activity, .details-activity {
  width: 100%;
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 0 0 7px -5px $color-black;
  margin: auto;
  padding: 20px 10px;

  > div, h6 {
    padding-inline: 10px !important;
  }

  .activity-img {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    max-height: 400px;
    aspect-ratio: 2 / 1;
    border: 1px solid rgba($color-black, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    padding-block: 10px;

    #title {
      font-size: $font-size-3xl;
      margin-bottom: 2px;
    }

    .date-range {
      font-size: $font-size-base;
      color: rgba($color-black, 0.4);
      margin: 0;
    }
  }

  .activity-icons-row {
    padding-block: 10px 15px;
    display: flex;
    justify-content: space-around;

    > div {
      text-align: center;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      color: $color-ut-orange;

      i {
        font-size: $font-size-4xl;
        margin-bottom: 10px;
      }

      p {
        margin-block: 15px;
        font-size: $font-size-base;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  #description {
    font-size: $font-size-base;
  }

  &.activity {

    #description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  .additional-images {
    padding-inline: 5px !important;
  }

  .additional-image {
    padding: 5px;

    img {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0 7px -5px $color-black;
      aspect-ratio: 2 / 1;
      object-fit: cover;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.cal-modal-container {
  background: $color-anti-flash-white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 58px);
}

.cal-modal {
  user-select: none;
  width: 100%;
  background: $color-cornflower-blue;
  color: $color-white;
  padding: 40px 60px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px -5px $color-black;
  min-height: 550px;
  overflow-x: auto;

  &::-webkit-scrollbar-track {
    background: $color-cornflower-blue;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0 0 10px 10px;
  }

  h3 {
    font-size: $font-size-4xl;
    font-weight: 900;
    margin-bottom: 40px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .loading {
    margin-top: 25px;
    width: 300px;
    height: 300px;
    padding: 120px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

#calendar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 927px;

  .placeholder {
    width: 300px;
  }

  .flatpickr-monthDropdown-months option {
    color: $color-black;
  }

  .flatpickr-calendar {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $color-white;
    top: 0;
    min-height: 325px;
    user-select: none;

    .flatpickr-innerContainer {
      overflow: visible;

      .flatpickr-weekdays {
        overflow: visible;

        .flatpickr-weekdaycontainer {
          max-width: 307.875px;
          padding: 0 10px;
          position: relative;

          .flatpickr-weekday {
            color: #fff;
            font-weight: 700;
          }

          &:last-child::after {
            content: none;
          }

          &::after {
            content: '';
            background: #343f48;
            position: absolute;
            top: -32px;
            bottom: -230px;
            right: 0;
            width: 1px;
          }
        }
      }
    }

    .flatpickr-months {

      .flatpickr-month {
        color: inherit;
        margin-bottom: 10px;

        .flatpickr-current-month {
          font-size: 16px;

          .numInputWrapper {
            display: none;
          }
        }
      }

      .flatpickr-prev-month, .flatpickr-next-month {
        top: calc(50% - 23px);

        svg {
          height: 46px;
          width: 46px;

          path {
            fill: $color-persian-indigo;
          }
        }
      }

      .flatpickr-prev-month {
        left: -60px;
      }

      .flatpickr-next-month {
        right: -60px;
      }
    }

    .dayContainer {
      box-shadow: none;
      padding: 0 10px;
      position: static;

      &:last-child::after {
        content: none;
      }
    }

    .flatpickr-day {
      background: $color-white;
      border: 0;
      color: $color-black;
      font-weight: 500;
      transition: 0.5s ease;
      display: inline-flex;
      margin-bottom: 3px;

      &.flatpickr-disabled, &.flatpickr-disabled:hover {
        background: none;
        color: $color-white;
        cursor: default;
      }

      &.selected:not(.hidden), &.selected:not(.hidden):hover, &.selected:not(.hidden):focus {
        background: $color-ut-orange;
        color: $color-white;
      }

      &:hover {
        background: $color-ut-orange;
        color: $color-white;
      }

      .nextMonthDay, .prevMonthDay {
        background: none;
        color: rgba(207, 210, 211, .1) !important;
        cursor: default;
        visibility: visible;
      }
    }
  }

  .calendar-events {
    display: flex;
    flex-wrap: wrap;
    min-height: 36px;
    text-align: left;
    width: 100%;
    max-width: 927px !important;

    > [class*='col-'] {
      padding: 5px;
    }

    h5 {
      margin-top: 20px;
      padding-inline: 5px;
      font-size: $font-size-xl;

      .date {
        font-size: $font-size-lg;
      }
    }

    .event {
      font-size: $font-size-base;
      background: $color-periwinkle;
      border-radius: 5px;
      box-shadow: 0 0 7px -5px $color-black;
      cursor: pointer;
      height: 100%;
      transition: 0.3s ease;

      &:hover {
        background: rgba($color-periwinkle, 0.6);
      }

      a {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 10px;
        text-decoration: none !important;
      }

      .title {
        color: $color-white;
        font-weight: 600;
        width: 100%;
        display: inline-flex;
      }

      .location {
        color: $color-persian-indigo;
        font-weight: 800;
        letter-spacing: -0.8px;
        width: 100%;
        display: inline-flex;
      }
    }
  }
}

.user-profile-page {
  display: flex;
  flex-direction: column;

  .user-profile-container {
    background-color: $color-white;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 7px -5px $color-black;

    .user-container {
      display: flex;
    }

    .user-picture {
      padding-block: 20px;

      img {
        width: 175px;
        height: 175px;
        border-radius: 100%;
        object-fit: cover;
        border: 2px solid $color-persian-indigo;
      }
    }

    .user-info {
      color: rgba($color-black, 0.5);
      margin: 15px 0 15px 30px;
      width: 100%;

      .profile-items {
        display: flex;
        flex-wrap: wrap;

        .profile-item {
          padding: 0;

          .label {
            font-weight: bold;
            width: 100%;
            display: inline-flex;
          }

          .value {
            width: 100%;
            display: inline-flex;
          }
        }
      }

      .user-name {
        font-size: $font-size-3xl;
        font-weight: bold;
      }
    }

    .user-buttons {
      width: 100%;

      > div {
        padding: 0;

        &:first-child {
          padding-right: 5px;
        }

        &:last-child {
          padding-left: 5px;
        }
      }

      .button {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.user-events {
  margin: 0 10px;
  padding: 0 20px;

  h2 {
    font-size: $font-size-2xl;
  }

  [class*="col-"] {
    padding: 5px;
  }

  .user-activity {
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 0 7px -5px $color-black;
    padding: 20px;

    .user-activity-img {
      width: 100%;
      aspect-ratio: 2 / 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .user-activity-name-row {
      padding: 5px;

      .user-activity-name {
        font-size: $font-size-lg;
        margin-bottom: 2px;
      }

      .date-range {
        font-size: $font-size-sm;
        color: rgba($color-black, 0.4);
        margin: 0;
      }
    }

    .user-activity-row {
      padding: 5px;
      display: flex;
      justify-content: space-around;

      > div {
        text-align: center;
        color: $color-ut-orange;

        i {
          font-size: $font-size-xl;
        }

        p {
          margin-block: 5px;
          font-size: $font-size-sm;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }

    .buttons {
      padding: 5px;

      > div {
        padding: 2px;
      }

      .button {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.default-user-control {
  border: 1px solid rgba($color-black, 0.1);
  background: $color-white;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 200px;
}

.join-requests-page {

  .header {
    padding-block: 20px 0;
    margin: 0;

    h2 {
      @include font($font-size: $font-size-2xl, $font-weight: 600);
      margin-bottom: 20px;
    }

    .default-user-control {
      box-shadow: 0 0 7px -5px $color-black;
      border: none;
      cursor: pointer;
      color: rgba($color-black, 0.7);
      font-weight: 500;
      font-size: $font-size-sm;
    }
  }

  .join-requests-list {
    width: 100%;
    background: $color-white;
    border-radius: 5px;
    box-shadow: 0 0 7px -5px $color-black;
    border-spacing: 0 5px;
    border-collapse: separate;
    padding-inline: 5px;

    .header {

      th {
        padding: 10px;
        font-weight: bold;
        vertical-align: middle;
      }

      .actions {
        min-width: 210px !important;
        width: 210px !important;
      }
    }

    .join-request {
      transition: 0.3s ease;

      &:nth-child(2n) {
        background: rgba($color-black, 0.03);
      }

      &:hover {
        background: $color-anti-flash-white;
      }

      td {
        padding: 10px;
        vertical-align: middle;

        &:first-child {
          @include border-radius(5px, 0, 0, 5px);
        }

        &:last-child {
          @include border-radius(0, 5px, 5px, 0);
        }
      }

      > div {
        width: 100%;
      }

      .actions {

        .no-actions {
          @include font($font-size: $font-size-sm);
          color: rgba($color-black, 0.7);
        }
      }

      .created-at {
        @include font($font-size: $font-size-sm);
        color: rgba($color-black, 0.7);
      }

      .status {
        @include font($font-size: $font-size-sm, $font-weight: 600);

        .accepted {
          color: $color-green;
        }

        .pending {
          color: $color-ut-orange;
        }

        .rejected {
          color: $color-red;
        }
      }
    }
  }
}

.create-event-container, .edit-event-container, .edit-user-container {
  padding-top: 20px;

  .create-event-form, .edit-event-form, .edit-user-form {
    background: $color-white;
    box-shadow: 0 0 7px -5px $color-black;
    border-radius: 5px;
    padding: 10px;

    .form-content {

      .form-group {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .form-item {
          padding-inline: 10px;
          margin-bottom: 10px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          input[type='file'] {
            @include font($font-size: $font-size-sm);
            padding: 1px;
          }
        }
      }
    }

    #additional-images {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      margin: 0;
      padding: 0;

      label {
        width: 100%;
      }

      .additional-image:first-child input {
        background: rgba($color-ut-orange, 0.1) !important;
      }
    }

    .additional-image {
      margin-block: 2px !important;
    }

    .selected-image {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      border: 1px solid $color-anti-flash-white;
      padding: 5px;
      width: 100%;

      .delete-selected-image {
        color: $color-ut-orange;
        padding: 7px 10px;
        font-size: $font-size-xl;
        border-radius: 100%;

        &:hover {
          background: rgba($color-ut-orange, 0.1);
        }
      }

      .content {
        display: flex;
        align-items: center;

        span {
          @include font($font-size: $font-size-sm, $font-weight: 500);
          margin-right: 10px;
          margin-left: 10px;
          color: rgba($color-black, 0.7);
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }

    &.edit-event-form, &.create-event-form {

      .content {

        img {
          border-radius: 5px;
          width: 100px !important;
          min-width: 100px !important;
          height: 50px !important;
          min-height: 50px !important;
        }
      }
    }

    &.edit-user-form {

      .form-group {
        align-items: flex-start;
      }

      .content {

        img {
          border-radius: 5px;
          width: 50px !important;
          min-width: 50px !important;
          height: 50px !important;
          min-height: 50px !important;
        }
      }
    }

    .selected-image:hover, .additional-image:not(:first-child) input:hover {
      background: $color-anti-flash-white;
      cursor: pointer;
    }

    .form-header {
      padding: 10px 10px 0 10px;
    }

    .form-footer {
      padding: 0 10px 10px 10px;
    }

    textarea {
      min-height: 120px;
    }
  }
}