<%- include(`${partials}/root-layout-header`) %>
<div class="fluid-container">
    <%- include(`${partials}/navbar`) %>
    <%= authenticatedUser %>
</div>
<%- include(`${partials}/root-layout-footer`) %>