<%- include(`${partials}/root-layout-header`) %>
<div class="fluid-container">
    <%- include(`${partials}/navbar`) %>
    <% joinRequests.forEach(request => { %>
        <%= request %>
    <% }) %>
</div>
<%- include(`${partials}/root-layout-footer`) %>