<%- include(`${partials}/root-layout-header`) %>
<div class="container">
    <% joinRequests.forEach(request => { %>
        <%= request %>
    <% }) %>
</div>
<%- include(`${partials}/root-layout-footer`) %>