<%- include(`${partials}/root-layout-header`) %>
<%- include(`${partials}/navbar`) %>
<div class="fluid-container">
    <%= authenticatedUser %>
</div>
<%- include(`${partials}/root-layout-footer`) %>