<%- include(`${partials}/root-layout-header`) %>
<%- include(`${partials}/navbar`) %>
<div class="container create-event-container">
    <form class="form create-event-form" enctype="multipart/form-data">
        <div class="errors"></div>
        <div class="form-header">
            <h4>Створення нової події</h4>
            <a class="button button-persian-indigo" href="/profile">Назад</a>
        </div>
        <div class="form-content">
            <div class="form-group col-12 flex-wrap">
                <div class="form-item col-12 flex-wrap">
                    <label for="title">Назва: </label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-item col-12 flex-wrap">
                    <label for="description">Опис: </label>
                    <textarea id="description" name="description" required></textarea>
                </div>
            </div>
            <div class="form-group col-12 flex-wrap">
                <div class="form-item col-12 col-lg-4 flex-wrap">
                    <label for="image">Головне зображення: </label>
                    <input type="file" id="image" name="image">
                </div>
                <div class="form-item col-12 col-lg-4 flex-wrap">
                    <label for="country">Країна проведення: </label>
                    <input type="text" id="country" name="country" required>
                </div>
                <div class="form-item col-12 col-lg-4 flex-wrap">
                    <label for="city">Місто проведення: </label>
                    <input type="text" id="city" name="city" required>
                </div>
                <div class="form-item col-12 col-sm-6 flex-wrap">
                    <label for="starts-on">Дата та час початку: </label>
                    <input type="datetime-local" id="starts-on" name="startsOn" required>
                </div>
                <div class="form-item col-12 col-sm-6 flex-wrap">
                    <label for="ends-on">Дата та час закінчення: </label>
                    <input type="datetime-local" id="ends-on" name="endsOn" required>
                </div>
            </div>
            <div class="form-group col-12 flex-wrap">
                <div class="form-item col-12 mb-1">
                    <label for="additional-images" class="w-100">Додаткові зображення: </label>
                </div>
                <div id="additional-images" class="form-item col-12 flex-wrap">
                    <div class="form-item col-12 col-md-6 additional-image">
                        <label>
                            <input type="file" class="w-100" name="additionalImages">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <input type="submit" class="button button-persian-indigo" value="Створити">
        </div>
    </form>
</div>
<%- include(`${partials}/root-layout-footer`) %>