<%- include(`${partials}/root-layout-header`) %>
<div class="fluid-container">
    <%- include(`${partials}/navbar`) %>
    <% events.forEach(event => { %>
        <%= event %>
    <% }) %>
</div>
<%- include(`${partials}/root-layout-footer`) %>