<%- include(`${partials}/root-layout-header`) %>
<body>

    <%- include(`${partials}/navbar`) %>

    <!-- main -->

    <div class="cal-modal-container">
        <div class="cal-modal">
            <h3>Календар Подій</h3>
            <div id="calendar">
            <div class="placeholder" id="placeholder"></div>
            <div class="calendar-events row">
            </div>
            </div>
        </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%- include(`${partials}/root-layout-footer`) %>
    
</body>
</html>