<%- include(`${partials}/root-layout-header`) %>
<div class="fluid-container">
    <main class="main-container sign-up-container d-flex align-items-center justify-content-center">
        <form class="form sign-up-form">
            <div class="errors"></div>
            <div class="form-header text-center">
                <h4>Реєстрація в MeetMe</h4>
            </div>
            <div class="form-content">
                <div class="form-group col-12 flex-wrap">
                    <div class="form-item col-12 flex-wrap">
                        <label for="email">Електронна пошта: </label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-item col-12 flex-wrap">
                        <label for="password">Пароль: </label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-item col-12 flex-wrap">
                        <label for="first-name">Ім'я: </label>
                        <input type="text" id="first-name" name="firstName" required>
                    </div>
                    <div class="form-item col-12 flex-wrap">
                        <label for="last-name">Прізвище: </label>
                        <input type="text" id="last-name" name="lastName" required>
                    </div>
                    <div class="form-item col-12 flex-wrap">
                        <label for="date-of-birth">Дата народження: </label>
                        <input type="date" id="date-of-birth" name="dateOfBirth" required>
                    </div>
                    <div class="form-item col-12 justify-content-between">
                        <span class="sign-in-redirect">
                            Вже маєте зареєстрований акаунт? <a href="/sign-in" class="link">Увійти</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <input type="submit" class="button button-persian-indigo" value="Зареєструватись">
            </div>
        </form>
    </main>
</div>
<%- include(`${partials}/root-layout-footer`) %>
