<%- include(`${partials}/root-layout-header`) %>
<div class="container">
    <a id="login-test-link">Login test</a>
    <a id="logout-test-link">Logout test</a>
</div>
<%- include(`${partials}/root-layout-footer`) %>
