<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application</title>
    <meta charset="utf-8">
</head>
<body>
    <a id="login-test-link">Login test</a>
    <a id="logout-test-link">Logout test</a>
</body>
<script src="./js/client-script.js"></script>
</html>