<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application</title>
    <meta charset="utf-8">
    <script src="./client-scripts.js"></script>
</head>
<body>
    <a id="login-test-link">Login test</a>
    <a id="logout-test-link">Logout test</a>
</body>
</html>